<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"blockGap":"var:preset|spacing|0"}},"backgroundColor":"white","className":"header-shadow ","layout":{"type":"constrained"}} -->
<div
  class="wp-block-group header-shadow has-white-background-color has-background"
>
  <!-- wp:template-part {"slug":"header","area":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"customOverlayColor":"#FFF","isUserOverlayColor":true,"minHeight":40,"minHeightUnit":"vh","isDark":false,"align":"center","style":{"spacing":{"blockGap":"var:preset|spacing|0","margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-cover aligncenter is-light"
  style="margin-top: 0px; margin-bottom: 0px; min-height: 40vh"
>
  <span
    aria-hidden="true"
    class="wp-block-cover__background has-background-dim"
    style="background-color: #fff"
  ></span>
  <div class="wp-block-cover__inner-container">
    <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size"></p>
    <!-- /wp:paragraph -->
  </div>
</div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
